<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQvq80LfBsKqvq9z8R3RIQYHGWgB_RkrY</string>
	<key>GCM_SENDER_ID</key>
	<string>449263080125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manzil</string>
	<key>PROJECT_ID</key>
	<string>manzil-ing</string>
	<key>STORAGE_BUCKET</key>
	<string>manzil-ing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449263080125:ios:08415f2840db8901c61dd4</string>
	<key>DATABASE_URL</key>
	<string>https://manzil-ing-default-rtdb.firebaseio.com</string>
</dict>
</plist>